# exclude all
*
.venv
.env
node_modules

# but these file type
!*.py
!*.md
!*.sh
!*.html

# and these cuties too
!.gitignore
!requirements.txt
!Dockerfile
!Jenkinsfile*
!*.yaml
!*.yml
!*.tf
!*.json
!screenshot.png
!*.tsx
!*.js
!*.ts
!*.css
!*.mp3
!*.png
!*/
